<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <title>Forecast</title>
  </head>
  <body>
    <div class="page">
      <main class="main">
        <div class="container">
          <div class="laptop">
            <div class="sections">
              <section class="section section-left">
                <div class="info">
                  <div class="city-inner">
                    <input type="text" class="search">
                  </div>
                  <div class="summary">
                    <div
                      style="background-image: url('./img/weather-main/thunderstorm.png');"
                      class="pic-main"
                    ></div>
                    <div class="weather">
                      <div class="temp">
                        14 °C
                      </div>
                      <div class="weather-desc text-block">
                        Thunderstorm
                      </div>
                    </div>
                    <div class="city text-block">
                      Paris,
                      FR
                    </div>
                    <div class="date text-block">
                      Thu, March 16, 2023
                    </div>
                  </div>
                </div>
              </section>
              <section class="section section-right">
                
              </section> 
            </div>
            <div class="sections">
              <section class="section-bottom">
                <div
                  class="block-bottom"
                >
                  <div class="block-bottom-inner">
                    <div class="block-bottom-pic pic-coords"></div>
                    <div class="block-bottom-texts">
                      <div class="block-bottom-text-block">
                        <div class="block-bottom-text-block-title">
                          Longitude: 2.3488
                        </div>
                        <div class="block-bottom-text-block-desc">
                          Longitude measures distance east or west of the prime meridian.
                        </div>
                      </div>
                      <div class="block-bottom-text-block">
                        <div class="block-bottom-text-block-title">
                          Latitude: 48.8534
                        </div>
                        <div class="block-bottom-text-block-desc">
                          Latitude lines start at the equator (0 degrees latitude) and run east and west, parallel to the equator. 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section-bottom">
                <div
                  class="block-bottom"
                >
                  <div class="block-bottom-inner">
                    <div class="block-bottom-pic pic-humidity"></div>
                    <div class="block-bottom-texts">
                      <div class="block-bottom-text-block">
                        <div class="block-bottom-text-block-title">
                          Humidity: 60 %
                        </div>
                        <div class="block-bottom-text-block-desc">
                          Humidity is the concentration of water vapor present in the air. Water vapor, the gaseous state of water, is generally invisible to the human eye.
                          <br /><br />
                          The same amount of water vapor results in higher relative humidity in cool air than warm air.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
